footer {
  margin-top: 100px; }

.top-nav-collapse {
  background-color: #000; }

.pull-left{
  float: left !important;
  margin-bottom: 5px;
  display: block;
}

.invisible{
display: none !important;
}

.visible{
display: block !important;
}

.tab-background{
  background-color: rgba(253, 221, 230,.8) !important;
}

.content-background{
  background-color: rgba(253, 221, 230,.3) !important;
}

#replace td
{
overflow: hidden;
text-overflow: ellipsis;
}

.shrink{
display: block !important;

}

.info-background{
background-color: rgba(215,239,252,.5) !important;
backgroun-size: 100%;
}
.center{
text-align: center;
}


.tab-container
{
margin-top: 20px;
margin-bottom: 0px;
}
.tabs{
background-color: rgba(241,213,146,.7);
text-align: center;
display: inline-block;
border: 4px;
border-color: black;
border-radius: 30px 30px 1px 1px;
color: black;
bottom-margin: 0px;
left-margin: 0px;
right-margin: 0px;
top-margin: 20px;
padding-left: 20px;
padding-right: 20px;
}

.tab-items{
    width: 33%;
    border: 3px;
}

#overlay{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(168,167,167,.7);
}
#load-container{
position: relative;
}
.spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
    background-color: rgba(168,167,167,.7);
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

header {
  position: relative;
  padding: 0 0 0 0;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 50px; }
  header.fullscreen > .headerCnt {
    width: 100%;
    height: 100vh; }
    header.fullscreen > .headerCnt .backgroundImg {
      display: block; }
  header.none {
    margin-bottom: 75px; }
    header.none > .headerCnt {
      display: none; }
  header > .bannerCnt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000000; }
    header > .bannerCnt > a > p {
      width: 100%;
      margin: 0;
      padding: 5px;
      text-align: center;
      background-color: #000;
      color: #fff;
      -webkit-transition: border-bottom .2s ease-in-out;
      -o-transition: border-bottom .2s ease-in-out;
      transition: border-bottom .2s ease-in-out;
      border-bottom: 0 #ffd200 solid; }
      header > .bannerCnt > a > p:hover {
        border-bottom: 5px #ffd200 solid; }
  header > .bannerCnt + .navbar {
    margin-top: 30px; }
  header > .headerCnt {
    background-color: #262626;
    width: 100%;
    height: 60px; }
    header > .headerCnt > .backgroundCnt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 5; }
    header > .headerCnt > .backgroundImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: none; }
    header > .headerCnt > .coverTextCnt {
      position: relative;
      padding: 40px 10px;
      width: 100%;
      height: 100%;
      z-index: 10; }
      header > .headerCnt > .coverTextCnt > .coverText {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        max-height: 90%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        color: #fff; }
        header > .headerCnt > .coverTextCnt > .coverText > h1, header > .headerCnt > .coverTextCnt > .coverText > h2, header > .headerCnt > .coverTextCnt > .coverText > p {
          text-align: center;
          -webkit-transition: font-size .4s ease;
          -o-transition: font-size .4s ease;
          transition: font-size .4s ease; }
        header > .headerCnt > .coverTextCnt > .coverText > h1 {
          text-transform: uppercase;
          font-size: 36px;
          font-weight: 600; }
          @media only screen and (min-width: 576px) {
            header > .headerCnt > .coverTextCnt > .coverText > h1 {
              font-size: 48px; } }
          @media only screen and (min-width: 960px) {
            header > .headerCnt > .coverTextCnt > .coverText > h1 {
              font-size: 72px; } }
          @media only screen and (min-width: 2100px) {
            header > .headerCnt > .coverTextCnt > .coverText > h1 {
              font-size: 120px; } }
        header > .headerCnt > .coverTextCnt > .coverText > h2 {
          margin: 10px auto;
          font-style: italic;
          font-size: 16px; }
          @media only screen and (min-width: 960px) {
            header > .headerCnt > .coverTextCnt > .coverText > h2 {
              font-size: 20px; } }
          @media only screen and (min-width: 1200px) {
            header > .headerCnt > .coverTextCnt > .coverText > h2 {
              font-size: 24px; } }
          @media only screen and (min-width: 2100px) {
            header > .headerCnt > .coverTextCnt > .coverText > h2 {
              font-size: 36px; } }
        header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button {
          display: block;
          width: 80%;
          padding: 10px;
          border: 2px #fff solid;
          margin: 20px auto;
          color: #fff;
          font-weight: 600;
          text-transform: uppercase;
          -webkit-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease; }
          header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button:hover, header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button :active {
            background-color: #e0e0e0;
            color: #000;
            -webkit-box-shadow: inset 0px 0px 5px 0px #D1D1D1;
            box-shadow: inset 0px 0px 5px 0px #D1D1D1; }
          @media only screen and (min-width: 576px) {
            header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button {
              display: inline-block;
              width: auto;
              margin: 10px auto; } }
          @media only screen and (min-width: 960px) {
            header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button {
              font-size: 16px;
              padding: 15px;
              border: 4px #fff solid; } }
          @media only screen and (min-width: 2100px) {
            header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button {
              font-size: 24px;
              padding: 25px;
              border: 8px #fff solid; } }
        @media only screen and (min-width: 576px) {
          header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button + .button {
            margin-left: 10px; } }
        @media only screen and (min-width: 2100px) {
          header > .headerCnt > .coverTextCnt > .coverText > .buttonsDiv > .button + .button {
            margin-left: 30px; } }

.imgContainer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  width: 100%; }
  .imgContainer img {
    max-width: 250px;
    width: 75%; }
    @media only screen and (max-width: 767px) {
      .imgContainer img {
        display: none; } }
