{% extends 'base.html' %}
{% load static %}


{% block primary %}

<div class="row">
      <div class="col-2 col-t-2 col-m-3 menu">
        <ul>
          <li>Technologies</li>
          <li>Work Experience</li>
          <li>Education</li>
          <li>Why Me</li>
          <li>Organizations</li>
          <li>Honors &amp; Awards</li>
        </ul>
      </div>

      <div class="col-10 col-t-10 col-m-9 resume">
        <!-- Technologies -->
        <div class="row">
          <div class="col-3 col-t-4 col-m-12">
            <h1>Technologies</h1>
          </div>
          <div class="col-4 col-t-4 col-m-6">
            <h2>Daily:</h2>
            <ul>
              <li>JavaScript</li>
              <li>CSS3</li>
              <li>HTML</li>
              <li>ASP.net (using C#)</li>
              <li>MySQL</li>
            </ul>
          </div>
          <div class="col-4 col-t-4 col-m-6">
            <h2>Experience With:</h2>
            <ul>
              <li>Java</li>
              <li>C/C++</li>
              <li>PHP</li>
              <li>Python</li>
            </ul>
          </div>
        </div>

        <!-- Work Expierence -->
        <div class="row exp">
          <div class="col-3 col-t-4 col-m-12">
            <h1>Work Experience</h1>
          </div>
          <div class="col-9 col-t-8 col-m-12">
            <!-- amuzigo -->
            <div class="row item">
              <div class="col-8 col-t-8 col-m-8">
                <h3>Web Developer</h3>
                <a href="https://www.amuzigo.com/" target="_blank"><p>amuzigo</p></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="col-4 col-t-4 col-m-4">
                <p>June 2016 - Present</p>
                <p>Sedona, AZ, USA</p>
              </div>
            </div>

            <!-- Studio 5 USA  -->
            <div class="row item">
              <div class="col-8 col-t-8 col-m-8">
                <h3>Web Developer</h3>
                <a href="http://www.studio5usa.com/" target="_blank"><p>Studio 5 USA</p></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="col-4 col-t-4 col-m-4">
                <p>January 2015 - Present</p>
                <p>Sedona, AZ, USA</p>
              </div>
            </div>

            <!-- Northern Arizona Uni - SICCS  -->
            <div class="row item">
              <div class="col-8 col-t-8 col-m-8">
                <h3>Teaching Assistant / Grader</h3>
                <a href="http://www.nau.edu/siccs/" target="_blank"><p>Northern Arizona University</br>School of Informations, Computing, and Cyber Systems</p></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="col-4 col-t-4 col-m-4">
                <p>August 2016 - December 2016</p>
                <p>Flagstaff, AZ, USA</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Education -->
        <div class="row edu">
          <div class="col-3 col-t-4 col-m-12">
            <h1>Education</h1>
          </div>
          <div class="col-9 col-t-8 col-m-12">
            <!-- Northern Arizona University -->
            <div class="row item">
              <div class="col-8 col-t-8 col-m-8">
                <h3>Bachelor's Degree of Science in Computer Science</h3>
                <a href="https://www.nau.edu/" target="_blank"><p>Northern Arizona University</p></a>
                <p>Testing</p>
              </div>
              <div class="col-4 col-t-4 col-m-4">
                <p>August 2015 - Present</br><i>Expected Grad. in May 2019</i></p>
                <p>Flagstaff, AZ, USA</p>
              </div>
            </div>

            <!-- Studio 5 USA  -->
            <div class="row item">
              <div class="col-8 col-t-8 col-m-8">
                <h3>General Education &amp; Certificate in Video Game Development</h3>
                <a href="http://www.yc.edu/" target="_blank"><p>Yavapai College</p></a>
                <p>Testing</p>
              </div>
              <div class="col-4 col-t-4 col-m-4">
                <p>January 2015 - Present</p>
                <p>Sedona, AZ, USA</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Why Me -->
        <!-- <div class="row why">
          <div class="col-3 col-t-4 col-m-12">
            <h1>Why Me</h1>
          </div>
          <div class="col-9 col-t-8 col-m-12">
            <div class="row item">
              <div class="hoverBox col-3 col-t-4 col-m-4">
                <h1 class="off">Word</h1>
                <p class="on">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4">
                <h1>Word</h1>
              </div>
              <div class="col-3 col-t-4 col-m-4 last">
                <h1>Word</h1>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="row org">
          <div class="col-3 col-t-4 col-m-12">
            <h1>Organizations</h1>
          </div>

          <div class="col-9 col-t-8 col-m-12">
            <div class="row item">
              <div class="col-8 col-t-8 col-m-8">
                <a href="http://acm.cefns.nau.edu/" target="_blank"><h3>Association for Computing Machinary, NAU Chapter</h3></a>
                <p>Flagstaff, AZ, USA</p>
              </div>
              <div class="col-4 col-t-4 col-m-4">
                <p>January 2015 - Present</p>
                <p>Sedona, AZ, USA</p>
              </div>
            </div>
          </div>
        </div> -->

        <!-- End of page -->
      </div>
    </div>
  {% endblock %}
