{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<img src="{% static 'imgs/iconsLogos/CPCESULogo_Revamped_Vertical.png'%}" style="width: 15%; min-width: 200px; padding: 1%; float: left;"/>

<h1>About Us</h1>
<p>The Colorado Plateau Cooperative Ecosystem Studies Unit (CPCESU) is part of a <a title="National CESU Network" href="http://www.cesu.psu.edu/" target="blank" rel="noopener">National CESU Network</a> composed of 17 CESU’s.&nbsp;Each CESU consists of a host institution, federal agency partners, and non-federal partners, which may include universities, colleges, and non-governmental organizations. Some CESUs, including the CPCESU, also include tribal nations as members.</p>
<p>CESUs are cooperative networks that transcend political and institutional boundaries. Instead, their boundaries are based primarily on biogeographical considerations. The goal of the CESUs is create innovative opportunities for research, education, and technical assistance in support of the management and stewardship of natural and cultural resources on federal lands.</p>
<p>The work of an individual CESU is done under the provisions of a&nbsp;<a title="Cooperative and Joint Venture Agreement" href="http://in.nau.edu/cpesu/documents/">Cooperative and Joint Venture Agreement</a> that is approved by all partners.&nbsp; The cooperative agreement is valid for a five-year period, after which a new agreement must be approved.&nbsp; The current CPCESU agreement can be accessed <a href="http://in.nau.edu/cpesu/documents/">online.</a></p>
<p>Northern Arizona University (NAU) serves as the host institution for the CPCESU.&nbsp; Within NAU, the administrative home of the CPCESU is in the&nbsp;<a title="School of Forestry" href="https://nau.edu/cefns/forestry/" target="_blank" rel="noopener">School of Forestry</a>.&nbsp; The responsibilities of the host university include:</p>
<ul>
<li>Manage the CESU operation fund</li>
<li>Provide administrative support for the CESU</li>
<li>Provide space and basic administrative support for federal agency representative assigned to the Host</li>
<li>Offer educational opportunities for federal resource/ environmental managers to improve and renew their skills</li>
<li>Set up a communication system to share information with partners</li>
<li>Provide a mechanism for resource managers to access the CESU Partners Group and individuals within partner organizations</li>
</ul>
<h2>Mission Statement</h2>
<p>The CPCESU creates opportunities for research, education, and technical assistance to support stewardship of natural and cultural resources by Federal agencies on the Colorado Plateau. We ensure that the expertise of our academic and non-governmental partners is made available to assist federal resource managers in accomplishing their agency missions.</p>
{% endblock %}
