<div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.short_summary.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.short_summary.label_tag }}</label>
    <div class="col-sm">{{ form.short_summary }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.description.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.description.label_tag }}</label>
    <div class="col-sm">{{ form.description }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.budget.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.budget.label_tag }}</label>
    <div class="col-sm">{{ form.budget }}</div><br>

    <label class="control-label col-sm">{{ file_form.file.label_tag }}</label>
    <div class="col-sm">{{ file_form.file }}</div><br>
    Current Project Files:
    {% for file in files %}
        <br><a href=" {{ file.file.url }} " target="_blank"> {{ file.file }}</a><br>
    {% endfor %}
</div>

{% if form.errors %}
    <div class="alert alert-error">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}