<div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.short_summary.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.short_summary.label_tag }}</label>
    <div class="col-sm">{{ form.short_summary }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.description.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.description.label_tag }}</label>
    <div class="col-sm">{{ form.description }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.budget.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.budget.label_tag }}</label>
    <div class="col-sm">{{ form.budget }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.location.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.location.label_tag }}</label>
    <div class="col-sm">{{ form.location }}</div><br>

</div>

{% if form.errors %}
    <div class="alert alert-error">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}