<div class="form-group">

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.project_title.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.project_title.label_tag }}</label>
    <div class="col-sm">{{ form.project_title }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.status.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.status.label_tag }}</label>
    <div class="col-sm">{{ form.status }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.partner.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.partner.label_tag }}</label>
    <div class="col-sm">{{ form.partner }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.federal_agency.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.federal_agency.label_tag }}</label>
    <div class="col-sm">{{ form.federal_agency }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.student_support.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.student_support.label_tag }}</label>
    <div class="col-sm">{{ form.student_support }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.vet_support.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.vet_support.label_tag }}</label>
    <div class="col-sm">{{ form.vet_support }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ form.cesu_unit.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ form.cesu_unit.label_tag }}</label>
    <div class="col-sm">{{ form.cesu_unit }}</div><br>

    <div class="col-sm-offset-2 col-sm-10">
        <span class="text-danger sml">{{ file_form.file.errors }}</span>
    </div>
    <label class="control-label col-sm">{{ file_form.file.label_tag }}</label>
    <div class="col-sm">{{ file_form.file }}</div><br>

</div>

{% if form.errors %}
    <div class="alert alert-error">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}