{% extends 'base.html' %}
{% load static %}

{% block primary %}
<h1 align="center">{% block form_title %}{% endblock %}</h1><br>
<form action="" method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                  <div class="card-header">
                      <h3>Basic Project Info</h3>
                  </div>
                  <div class="card-body">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% block basic_info %}{% endblock %}
                  </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                  <div class="card-header">
                      <h3>Additional Details</h3>
                  </div>
                  <div class="card-body">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% block additional %}{% endblock %}
                  </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="card col-md-12">
                <div class="card-header">
                    <h3>Research & Development Details</h3>
                </div>
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% block rnd %}{% endblock %}
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="card col-md-12">
                <div class="card-header">
                    <h3>Final Details</h3>
                </div>
                <div class="card-body">
                    {{ form.non_field_errors }}
                    {% block final_details%}{% endblock %}
                </div>
            </div>
        </div>

    </div>
    {% block sensitive %}{% endblock %}
    <input class="btn btn-primary" type="submit" value="Submit">

</form>
{% endblock %}