{% extends 'layouts/base.html' %}
{% load common_tags %}
{% load static %}

{% block content %}
    <h1>Public Project Details</h1>
    <div class="card-header">
        <h2 align="center">{{ object.project_title }}</h2>
        <p align="center">Award Number: {{ object.p_num|default:'Unknown' }} |
        Location: {{ object.location|default:'Unknown' }}</p>
    </div><br>

    <span>
        <a href="{% get_url_from_app_link 'summit.apps.projects' 'project_public_request' project_id=object.id %}">
            <button type="button" class="btn btn-light">Request Project Information</button>
        </a>
    </span>

    <div class="row">
        <div class="card col-sm-12 ">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><b>Project Status:</b> {{ object.status }}</td>
                        <td><b>Total Funding: {{ total_award_amount }}</b></td>
                        <td><b>Start Year:</b> {{ object.exec_start_date|date:'Y' }}</td>
                        <td><b>Youth/Veteran Involvement:</b> {{ object.youth_vets }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Partner:</b> {{ object.partner }}</td>
                        <td colspan="2"><b>Federal Agency:</b> {{ object.federal_agency }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Principle Investigator:</b> {{ object.pp_i.first_name }} {{ object.pp_i.last_name }}</td>
                        <td colspan="2"><b>Federal Project Manager:</b> {{ object.project_manager.first_name }} {{ object.project_manager.last_name }}</td>
                    </tr>
                    <tr>
                        <td colspan="6"><b>Description:</b><br>{{ object.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
{% endblock %}