{% extends 'base.html' %}
{% load static %}

{% block primary %}

{% if pagetitle %}
    <h1 style="text-align: center">{{ pagetitle }}</h1>
{% else %}
    <h1 style="text-align: center">PROJECT PAGE</h1>
{% endif %}


<p class="animated fadeIn text-muted">Project List of all projects you are currently assigned to (drafting, executed, and closed)</p>

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">P-Num</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Federal Agency</th>
                <th class="th-sm">Partner</th>
                <th class="th-sm">Type</th>
                <th class="th-sm">Discipline</th>
                <th class="th-sm">Fiscal Year</th>
                <th class="th-sm">Budget</th>
                <th class="th-sm">Edit/View Details</th>
            </tr>
        </thead>
        <tbody>
    {% for project in projects %}
            <tr>
                <th scope="row">{{ project.p_num }}</th>
                <td >{{ project.status }}</td>
                <td >{{ project.project_title }}</td>
                <td>{{ project.federal_agency }}</td>
                <td>{{ project.partner }}</td>
                <td>{{ project.type }}</td>
                <td>{{ project.discipline }}</td>
                <td>{{ project.fiscal_year }}</td>
                <td>{{ project.budget}}</td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm m-0 waves-effect"
                    href="{% url 'summit.apps.projects:project-edit' id=project.id %}">
                        Edit
                    </a>
                    <br><br>
                    <a type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"
                    href="{% url 'summit.apps.projects:project-detail' id=project.id %}">
                        Details
                    </a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
