{% extends 'layouts/base.html' %}
{% load common_tags %}
{% load static %}

{% block primary %}

{% if pagetitle %}
    <h1 style="text-align: center">{{ pagetitle }}</h1>
{% else %}
    <h1 style="text-align: center">PROJECT PAGE</h1>
{% endif %}

    <div class="container-fluid">
        <form action="{% get_url_from_app_link 'summit.apps.projects' 'project_export_csv' %}" method="post" enctype="multipart/form-data"
              name="export_form">
            {% csrf_token %}
            <div>
                <h5><b>{{ table1_header }}</b></h5>
                <p class="animated fadeIn text-muted">{{ table1_desc }}</p>
            </div>
            <button class="btn btn-outline-success btn-sm m-0 waves-effect" type="submit" value="Submit"
                    style="float: left;">
                Export
            </button>
            <table class="dtBasicExample table-responsive-sm table-striped table-bordered" style="width: 100%;">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="select_all_1">
                    </th>
                    <th>Status</th>
                    <th>FY</th>
                    <th>Agency</th>
                    <th>Award #</th>
                    <th>Partner</th>
                    <th>Title</th>
                    <th>Total Amount</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>PM</th>
                    <th>PI</th>
                    <th>View Details</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <th scope="row">
                            <input class="export_list_1" type="checkbox" name="export_list" value="{{ project.id }}"/>
                        </th>
                        <td>{{ project.get_status_display }}</td>
                        <td>{{ project.fiscal_year }}</td>
                        <td>{{ project.federal_agency }}</td>
                        <td>{{ project.p_num }}</td>
                        <td>{{ project.partner }}</td>
                        <td>{{ project.project_title }}</td>
                        <td>{{ project.total_award_amount }}</td>
                        <td>{{ project.tent_start_date }}</td>
                        <td>{{ project.tent_end_date }}</td>
                        <td>{{ project.project_manager }}</td>
                        <td>{{ project.pp_i }}</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm m-0 waves-effect"
                               href="{% get_url_from_app_link 'summit.apps.projects' 'project_detail' id=project.id %}">
                                Details
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        </form>
        {% if not table2_disabled%}
        <form action="{% get_url_from_app_link 'summit.apps.projects' 'project_export_csv' %}" method="post" enctype="multipart/form-data"
              name="export_form">
            {% csrf_token %}

            <div>
                <h5><b>{{ table2_header }}</b></h5>
                <p class="animated fadeIn text-muted">{{ table2_desc }}</p>
            </div>
            <button class="btn btn-outline-success btn-sm m-0 waves-effect" type="submit" value="Submit"
                    style="float: left;">
                Export
            </button>
            <table class="dtBasicExample table table-striped table-bordered table-sm" cellspacing="0"
                   style="width: 100%;">
                <thead>
                <tr>
                    <th class="th-sm">
                        <input type="checkbox" id="select_all_2">
                    </th>
                    <th class="th-sm">P-Num</th>
                    <th class="th-sm">Status</th>
                    <th class="th-sm">Title</th>
                    <th class="th-sm">Federal Agency</th>
                    <th class="th-sm">Partner</th>
                    <th class="th-sm">Staff</th>
                    <th class="th-sm">View Details</th>
                </tr>
                </thead>
                <tbody>
                {% for project in recent_projects %}
                    <tr>
                        <th scope="row">
                            <input class="export_list_2" type="checkbox" name="export_list" value="{{ project.id }}"/>
                        </th>
                        <td>{{ project.p_num }}</td>
                        <td>{{ project.get_status_display }}</td>
                        <td>{{ project.project_title }}</td>
                        <td>{{ project.federal_agency }}</td>
                        <td>{{ project.partner }}</td>
                        <td>{{ project.staff_member.first_name }} {{ project.staff_member.last_name }}</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm m-0 waves-effect"
                               href="{% get_url_from_app_link 'summit.apps.projects' 'project_detail' id=project.id %}">
                                Details
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'apps/projects/partials/side_nav.html' %}
{% endblock %}

{% block layout_wrapper %}
    {% with layout='left'  %}
        {{ block.super }}
    {% endwith %}
{% endblock %}