{% extends 'apps/projects/form-template.html' %}
{% block form_title %}Create Project{% endblock %}

{% block basic_info %}
<div class="form-group">

    <div class="col-sm-offset-2 col-sm-auto">
        <span class="text-danger sml">{{ form.p_num.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.p_num.label_tag }}</label>
    <div class="col-sm">{{ form.p_num }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.project_title.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.project_title.label_tag }}</label>
    <div class="col-sm">{{ form.project_title }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.status.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.status.label_tag }}</label>
    <div class="col-sm">{{ form.status }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.partner.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.partner.label_tag }}</label>
    <div class="col-sm">{{ form.partner }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.federal_agency.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.federal_agency.label_tag }}</label>
    <div class="col-sm">{{ form.federal_agency }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.pp_i.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.pp_i.label_tag }}</label>
    <div class="col-sm">{{ form.pp_i }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.project_manager.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.project_manager.label_tag }}</label>
    <div class="col-sm">{{ form.project_manager }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.tech_rep.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.tech_rep.label_tag }}</label>
    <div class="col-sm">{{ form.tech_rep }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.location.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.location.label_tag }}</label>
    <div class="col-sm">{{ form.location }}</div><br>


    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.student_support.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.student_support.label_tag }}</label>
    <div class="col-sm">{{ form.student_support }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.num_of_students.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.num_of_students.label_tag }}</label>
    <div class="col-sm">
        {{ form.num_of_students }}
    </div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.vet_support.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.vet_support.label_tag }}</label>
    <div class="col-sm">{{ form.vet_support }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.cesu_unit.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.cesu_unit.label_tag }}</label>
    <div class="col-sm">{{ form.cesu_unit }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.staff_member.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.staff_member.label_tag }}</label>
    <div class="col-sm">{{ form.staff_member }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.discipline.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.discipline.label_tag }}</label>
    <div class="col-sm">{{ form.discipline }}</div><br>

</div>



{% if form.non_field_errors %}
    <div class="alert alert-error">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}


{% block additional %}
<div class="form-group">

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.short_summary.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.short_summary.label_tag }}</label>
    <div class="col-sm">{{ form.short_summary }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.description.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.description.label_tag }}</label>
    <div class="col-sm">{{ form.description }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.budget.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.budget.label_tag }}</label>
    <div class="col-sm">{{ form.budget }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.type.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.type.label_tag }}</label>
    <div class="col-sm">{{ form.type }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.tent_start_date.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.tent_start_date.label_tag }}</label>
    <div class="col-sm">{{ form.tent_start_date}}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.tent_end_date.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.tent_end_date.label_tag }}</label>
    <div class="col-sm">{{ form.tent_end_date}}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.init_start_date.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.init_start_date.label_tag }}</label>
    <div class="col-sm">{{ form.init_start_date }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.fiscal_year.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.fiscal_year.label_tag }}</label>
    <div class="col-sm">{{ form.fiscal_year }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ file_form.file.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ file_form.file.label_tag }}</label>
    <div class="col-sm">{{ file_form.file }}</div><br>
    {% for file in files %}
        <br><a href=" {{ file.file.url }} " target="_blank"> {{ file.file }}</a><br>
    {% endfor %}

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.sensitive.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.sensitive.label_tag }}</label>
    <div class="col-sm">{{ form.sensitive }}</div><br>
</div>

{% if form.non_field_errors %}
    <div class="alert alert-error">
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}


{% block rnd %}
    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.r_d.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.r_d.label_tag }}</label>
    <div class="col-sm">{{ form.r_d }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.src_of_funding.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.src_of_funding.label_tag }}</label>
    <div class="col-sm">{{ form.src_of_funding }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.field_of_science.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.field_of_science.label_tag }}</label>
    <div class="col-sm">{{ form.field_of_science }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.monitoring.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.monitoring.label_tag }}</label>
    <div class="col-sm">{{ form.monitoring }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.sci_method.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.sci_method.label_tag }}</label>
    <div class="col-sm">{{ form.sci_method }}</div><br>

{% endblock %}

{% block final_details %}
    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.final_report.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.final_report.label_tag }}</label>
    <div class="col-sm">{{ form.final_report }}</div><br>

    <div class="control-label col-sm-auto">
        <span class="text-danger sml">{{ form.notes.errors }}</span>
    </div>
    <label class="control-label col-sm-auto">{{ form.notes.label_tag }}</label>
    <div class="col-sm">{{ form.notes }}</div><br>

{% endblock %}