{% extends 'layouts/base.html' %}
{% load common_tags %}
{% load static %}

{% block content %}

{% if pagetitle %}
    <h1 style="text-align: center">{{ pagetitle }}</h1>
{% else %}
    <h1 style="text-align: center">Public Projects</h1>
{% endif %}


<p class="animated fadeIn text-muted">List for publicly viewable projects that are currently active or are formally
    completed and are archived.</p>

    <table class="dtBasicExample table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Award Number</th>
                <th class="th-sm">Title</th>
                <th class="th-sm">Status</th>
                <th class="th-sm">Federal Agency</th>
                <th class="th-sm">Non-Gov't Partner</th>
                <th class="th-sm">Start Date</th>
                <th class="th-sm">End Date</th>
                <th class="th-sm">Total Funds</th>
                <th class="th-sm">Details</th>
            </tr>
        </thead>
        <tbody>
    {% for project in projects %}
            <tr>
                <th scope="row">{{ project.p_num }}</th>
                <td href="">{{ project.project_title }}</td>
                <td>{{ project.get_status_display }}</td>
                <td>{{ project.federal_agency}}</td>
                <td>{{ project.partner }}</td>
                <td>{{ project.tent_start_date }}</td>
                <td>{{ project.tent_end_date}}</td>
                <td>${{ project.budget}}</td>
                <td>
                    <a class="btn btn-outline-primary btn-sm m-0 waves-effect"
                    href="{% get_url_from_app_link 'summit.apps.projects' 'project_public_detail' id=project.id %}">
                        View More
                    </a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
