{% extends 'base.html' %}
{% load static %}

{% block primary %}
<h1 align="left">Project Modifications</h1><br>
<form action="" method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
              <div class="card-header">
                  <h3>Create Modifications</h3>
              </div>
              <div class="card-body">
                  <div class="form-group">
                        {% csrf_token %}

                      <div class="col-sm-offset-2 col-sm-auto">
                          <span class="text-danger sml">{{ form.mod_num.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_num.label_tag }}<span style="color: red; ">(Required)</span></label>
                      <div class="col-sm">{{ form.mod_num}}</div><br>

                      <div class="col-sm-offset-2 col-sm-auto">
                        <span class="text-danger sml">{{ form.mod_type.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_type.label_tag }}</label>
                      <div class="col-sm">{{ form.mod_type}}</div><br>

                      <div class="col-sm-offset-2 col-sm-auto">
                          <span class="text-danger sml">{{ form.mod_desc.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_desc.label_tag }}</label>
                      <div class="col-sm">{{ form.mod_desc}}</div><br>

                      <div class="col-sm-offset-2 col-sm-auto">
                          <span class="text-danger sml">{{ form.mod_amount.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_amount.label_tag }}</label>
                      <div class="col-sm">{{ form.mod_amount}}</div><br>

                      <div class="col-sm-offset-2 col-sm-auto">
                          <span class="text-danger sml">{{ form.mod_approved.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_approved.label_tag }}</label>
                      <div class="col-sm">{{ form.mod_approved}}</div><br>

                      <div class="col-sm-offset-2 col-sm-auto">
                          <span class="text-danger sml">{{ form.mod_executed.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_executed.label_tag }}</label>
                      <div class="col-sm">{{ form.mod_executed}}</div><br>

                      <div class="col-sm-offset-2 col-sm-auto">
                          <span class="text-danger sml">{{ form.mod_notes.errors }}</span>
                      </div>
                      <label class="control-label col-sm-auto">{{ form.mod_notes.label_tag }}</label>
                      <div class="col-sm">{{ form.mod_notes}}</div><br>


                      <table>
                          <tbody>
                          <tr>
                              <td>
                                  <span class="text-danger sml">{{ file_form.file.errors }}</span>
                                  <label class="control-label col-sm-auto"><b>{{ file_form.file.label_tag }}</b></label>
                              </td>
                              <td>
                                  {{ file_form.file }}<br><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <label class="control-label col-sm-auto"><b><u>Current Files</u></b><br></label>
                                  {% if files %}
                                      {% for file in files %}
                                          <br><a href=" {{ file.file.url }} " target="_blank"> {{ file.file }}</a><br>
                                      {% endfor %}
                                  {% else %}
                                      <br>No files have been added
                                  {% endif %}
                              </td>
                          </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}