{% extends 'layouts/base.html' %}
{% load static %}

{% block primary %}
    <form method="post" enctype="multipart/form-data" name="form">
        {% csrf_token %}
        <div class="card form-group">
            <div class="card-header">
                <h3>{% block form_title %}Modification Form{% endblock %}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {{ form.errors }}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <u>Quick Project Details</u>
                                <td><b>Status:<br/></b>{{ project.status }}, &nbsp</td>
                                
                                <td><b>FY:<br/></b>{{ project.fiscal_year }} &nbsp</td>
                                
                                <td><b>Agency:<br/></b>{{ project.fed_agency }} &nbsp</td>
                                
                                <td><b>Award #:<br/></b>{{ project.p_num }} &nbsp</td>
                                
                                <td><b>Partner:<br/></b>{{ project.partner }} &nbsp</td>
                                
                                <td><b>Place:<br/></b>{{ project.location }} &nbsp</td>
                                
                                <td><b>Title:<br/></b>{{ project.project_title }} &nbsp</td>
                                
                                <td><b>Total Amount:<br/></b>{{ total_award_amount }} &nbsp</td>
                                
                                <td><b>Start: <br/></b>{{ project.tent_start_date }} &nbsp</td>
                                
                                <td><b>End: <br/></b>{{ project.tent_end_date }} &nbsp</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <p><span style="color: red; ">NOTE:</span> If you leave this page you will lose progress.</p>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.non_field_errors }}
                        <h5><u>Create/Edit Modification: </u></h5>
                        <table>
                            <tbody>
                            <tr>
                                <td>{{ form.mod_num.label_tag }}</td>
                                <td>{{ form.mod_num }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.mod_type.label_tag }}</td>
                                <td>{{ form.mod_type }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.mod_amount.label_tag }}</td>
                                <td>{{ form.mod_amount }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.mod_status.label_tag }}</td>
                                <td>
                                    {{ form.mod_status }}<br><br>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ form.mod_approved.label_tag }}</td>
                                <td>{{ form.mod_approved }}</td>
                            </tr>
                            <!--<tr>
                                <td>{{ form.mod_executed.label_tag }}</td>
                                <td>{{ form.mod_executed }}</td>
                            </tr>-->
                            <tr>
                                <td>{{ form.mod_extension.label_tag }}</td>
                                <td>{{ form.mod_extension }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4">
                        <table>
                            <tbody>
                            <tr>
                                <td>{{ form.mod_notes.label_tag }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.mod_notes }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--
                    <div class="col-sm-4">
                        
                        <table>
                            <tbody>
                            <tr>
                                <td>Modification {{ form.mod_desc.label_tag }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.mod_desc }}</td>
                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    -->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <table>
                          <tbody>
                          <tr>
                              <td><br><br>
                                  <span class="text-danger sml">{{ file_form.file.errors }}</span>
                                  <label class="control-label col-sm-auto"><b>{{ file_form.file.label_tag }}</b></label>
                              </td>
                              <td><br><br>
                                  {{ file_form.file }}<br><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <label class="control-label col-sm-auto"><b><u>Current Files</u></b><br></label>
                                  {% if files %}
                                      {% for file in files %}
                                          <br><a href=" {{ file.file.url }} " target="_blank"> {{ file.file }}</a><br>
                                      {% endfor %}
                                  {% else %}
                                      <br>No files have been added
                                  {% endif %}
                              </td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}

{% block sidebar %}
    {% include 'apps/projects/partials/side_nav.html' %}
{% endblock %}

{% block layout_wrapper %}
    {% with layout='left'  %}
        {{ block.super }}
    {% endwith %}
{% endblock %}