{% autoescape off %}

<p>
    Name: {{ customer_name }}<br>
    Email: {{ customer_email }}<br>
    Message: {{ message }}<br>
</p>


<p>To check which project the person is asking about, click the link below:</p>

<p><a href="{{request.scheme}}://{{ request.META.HTTP_HOST }}{% url 'summit.apps.projects:project_detail' project_id %}">{{request.scheme}}://{{ request.META.HTTP_HOST }}{% url 'summit.apps.projects:project_detail' project_id %}</a></p>

<p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>

{% endautoescape %}