<h3>Quick Links</h3>
<a href="{% url 'summit.apps.projects:summit.apps.projects_Create Project' %}" class="btn btn-primary m-0 waves-effect" style="width: 100%;">Create Project</a>
<br>
<br>
<a href="/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">Import Project</a>
<br>
<br>
<a href="{% url 'summit.apps.projects:summit.apps.projects_Your Dashboard' %}" class="btn btn-primary m-0 waves-effect" style="width: 100%;">Your Dashboard</a>
<br>
<br>
<a href="{% url 'summit.apps.projects:summit.apps.projects_All Projects' %}" class="btn btn-primary m-0 waves-effect" style="width: 100%;">All Projects</a>
<br>
<br>
<a href="{% url 'summit.libs.auth2:summit.libs.auth2_All Contacts' %}" class="btn btn-primary m-0 waves-effect" style="width: 100%;">All Contacts</a>
<br>
<br>
<a href="{% url 'summit.libs.auth2:summit.libs.auth2_All Orgs.' %}" class="btn btn-primary m-0 waves-effect" style="width: 100%;">All Organizations</a>
<br>
<br>

<h3>Statistics</h3>
<p>(last 30 days)</p>

<ul>
    <li>Projects closed: {{ stat_closed|default:'Unknown' }}</li>
    <li>Projects executed: {{ stat_executed|default:'Unknown' }}</li>
    <li>Projects drafted {{ stat_drafted|default:'Unknown' }}</li>
    <li>Total money budgeted: {{ stat_budget|default:'Unknown' }}</li>
</ul>

{% include 'partials/side_nav_globals.html' %}