<h3>Quick Links</h3>
<a href="/accounts/create_user/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">Create Project</a>
<br>
<br>
<a href="/accounts/create_user/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">Import Project</a>
<br>
<br>
<a href="/accounts/create_user/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">Your Dashboard</a>
<br>
<br>
<a href="/accounts/create_user/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">All Projects</a>
<br>
<br>
<a href="/accounts/create_user/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">All Personnel</a>
<br>
<br>
<a href="/accounts/create_user/" class="btn btn-primary m-0 waves-effect" style="width: 100%;">All Partners</a>
<br>
<br>

<h3>Statistics</h3>
<p>(last 30 days)</p>

<ul>
    <li>Projects closed</li>
    <li>Projects executed</li>
    <li>Projects drafted</li>
    <li>Total money budgeted</li>
</ul>

{% include 'partials/side_nav_globals.html' %}